*{
    margin:0;
    padding: 0;
}
.background{
    background-color: black;
    width:100%;
}

.background>img{
    align-items: center;
    overflow: hidden;
    /* background-size: cover; */
}
footer{
    height: 100%;
    background-color: aqua;

    position : relative;
    transform : translateY(-100%);
  }